<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="base.pom.selenium.listeners.TestNGListeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Jenkins">
        <packages>
            <package name="test"></package>
        </packages>
<!--        <classes>-->
<!--            <class name="test.Boards_Test">-->
<!--                <methods>-->
<!--                    <include name="createNewBoard"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="test.Login_Test">-->
<!--                <methods>-->
<!--                    <include name="successLogin"/>-->
<!--                    <include name="invalidUserName"/>-->
<!--                    <include name="invalidPassword"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
    </test>
</suite>